.chatTypingGradientNotAtBottom__36d07 .chatGradientBase__36d07 {
    display: none !important;
}

a[href="/store"] {
    display: none !important;
}

.scroller__7d20c {
    display: none !important;
}

.nowPlayingColumn__133bf {
    display: none !important;
}

.headerText__99e7c {
    font-size: 0 !important;
}

.headerText__99e7c::before {
    content: "chatz";
    font-size: 16px !important;
    color: inherit !important;
    display: inline-block !important;
}

[aria-label="Send a gift"] {
    display: none !important;
}

.closeButton__972a0 {
    display: none !important;
}

.bar__7aaec {
    display: none !important;
} 
.voiceBar__7aaec {
    display: none !important;
}