/* this blocks the Nitro button in the DMs screen */
a[href="/store"] {
    display: none !important;
}

/* this blocks the Shop button in the DMs screen */
a[href="/shop"] {
    display: none !important;
}

/* this changes the Direct Messages text to say "chatz" */
._99e7cad8d4c55236-headerText {
    font-size: 0 !important;
}
._99e7cad8d4c55236-headerText::before {
    content: "chatz";
    font-size: 16px !important;
    color: inherit !important;
    display: inline-block !important;
}

/* this blocks the button to send your friends Nitro */
[aria-label="Send a gift"] {
    display: none !important;
}

/* this blocks the close DM button */
._972a0d22c8afa7f0-closeButton,
._972a0d22c8afa7f0-reducedClickTarget {
    display: none !important;
}
